[uwsgi]
master = True
socket = {{ transplant.uwsgi_host }}:{{ transplant.uwsgi_port }}
workers = 4
chdir = {{ transplant.dir }}/app/server
wsgi-file = transplant.py
callable = app
die-on-term = True
reload-mercy = 3600
